
.idea

.vscode

.spyproject

*.egg-info

*__pycache__

*.pyc

.pytest_cache

cache/

*.sqlite

*.sqlite-journal

*.DS_Store

docs/_build/

results/*

!results/README\.md

config.yml
data/cigre_high_granularity/electric_grid_ders.csv
data/cigre_high_granularity/electric_grid_lines.csv
data/cigre_high_granularity/electric_grid_nodes.csv
data/cigre_high_granularity/electric_grid_transformers.csv
data/cigre_high_granularity/electric_grids.csv
data/cigre_high_granularity/scenarios.csv
data/cigre_high_granularity_low_penetration/electric_grid_ders.csv
data/cigre_high_granularity_low_penetration/electric_grid_lines.csv
data/cigre_high_granularity_low_penetration/electric_grid_nodes.csv
data/cigre_high_granularity_low_penetration/electric_grid_transformers.csv
data/cigre_high_granularity_low_penetration/electric_grids.csv
data/cigre_high_granularity_low_penetration/scenarios.csv
data/cigre_low_granularity/electric_grid_ders.csv
data/cigre_low_granularity/electric_grid_lines.csv
data/cigre_low_granularity/electric_grid_nodes.csv
data/cigre_low_granularity/electric_grid_transformers.csv
data/cigre_low_granularity/electric_grids.csv
data/cigre_low_granularity/scenarios.csv
data/cigre_low_granularity_low_penetration/electric_grid_ders.csv
data/cigre_low_granularity_low_penetration/electric_grid_lines.csv
data/cigre_low_granularity_low_penetration/electric_grid_nodes.csv
data/cigre_low_granularity_low_penetration/electric_grid_transformers.csv
data/cigre_low_granularity_low_penetration/electric_grids.csv
data/cigre_low_granularity_low_penetration/scenarios.csv
data/simple_high_granularity/electric_grid_ders.csv
data/simple_high_granularity/electric_grid_lines.csv
data/simple_high_granularity/electric_grid_nodes.csv
data/simple_high_granularity/electric_grid_transformers.csv
data/simple_high_granularity/electric_grids.csv
data/simple_high_granularity/scenarios.csv
data/simple_high_granularity_high_penetration/electric_grid_ders.csv
data/simple_high_granularity_high_penetration/electric_grid_lines.csv
data/simple_high_granularity_high_penetration/electric_grid_nodes.csv
data/simple_high_granularity_high_penetration/electric_grid_transformers.csv
data/simple_high_granularity_high_penetration/electric_grids.csv
data/simple_high_granularity_high_penetration/scenarios.csv
data/simple_high_granularity_low_penetration/electric_grid_ders.csv
data/simple_high_granularity_low_penetration/electric_grid_lines.csv
data/simple_high_granularity_low_penetration/electric_grid_nodes.csv
data/simple_high_granularity_low_penetration/electric_grid_transformers.csv
data/simple_high_granularity_low_penetration/electric_grids.csv
data/simple_high_granularity_low_penetration/scenarios.csv
data/simple_high_granularity_no_penetration/electric_grid_ders.csv
data/simple_high_granularity_no_penetration/electric_grid_lines.csv
data/simple_high_granularity_no_penetration/electric_grid_nodes.csv
data/simple_high_granularity_no_penetration/electric_grid_transformers.csv
data/simple_high_granularity_no_penetration/electric_grids.csv
data/simple_high_granularity_no_penetration/scenarios.csv
data/simple_low_granularity/electric_grid_ders.csv
data/simple_low_granularity/electric_grid_lines.csv
data/simple_low_granularity/electric_grid_nodes.csv
data/simple_low_granularity/electric_grid_transformers.csv
data/simple_low_granularity/electric_grids.csv
data/simple_low_granularity/scenarios.csv
data/simple_low_granularity_high_penetration/electric_grid_ders.csv
data/simple_low_granularity_high_penetration/electric_grid_lines.csv
data/simple_low_granularity_high_penetration/electric_grid_nodes.csv
data/simple_low_granularity_high_penetration/electric_grid_transformers.csv
data/simple_low_granularity_high_penetration/electric_grids.csv
data/simple_low_granularity_high_penetration/scenarios.csv
data/simple_low_granularity_low_penetration/electric_grid_ders.csv
data/simple_low_granularity_low_penetration/electric_grid_lines.csv
data/simple_low_granularity_low_penetration/electric_grid_nodes.csv
data/simple_low_granularity_low_penetration/electric_grid_transformers.csv
data/simple_low_granularity_low_penetration/electric_grids.csv
data/simple_low_granularity_low_penetration/scenarios.csv
data/simple_low_granularity_no_penetration/electric_grid_ders.csv
data/simple_low_granularity_no_penetration/electric_grid_lines.csv
data/simple_low_granularity_no_penetration/electric_grid_nodes.csv
data/simple_low_granularity_no_penetration/electric_grid_transformers.csv
data/simple_low_granularity_no_penetration/electric_grids.csv
data/simple_low_granularity_no_penetration/scenarios.csv
